@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* 배경 색상 설정 (선택적) */
}

#root {
  max-width: 742px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff; /* 배경 색상 설정 (선택적) */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 선택적: 그림자 설정 */
  overflow-y: scroll; /* 스크롤 활성화 */
  scrollbar-width: none; /* Firefox */
}

/* 웹킷 기반 브라우저 (Chrome, Safari 등) */
#root::-webkit-scrollbar {
  display: none; /* 스크롤 바 숨기기 */
}

@keyframes bounce-sequence {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-sequence {
  animation: bounce-sequence 0.6s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

/* Checkmark Animation */
.checkmark-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1s ease forwards;
  animation-delay: 0.3s; /* Delay to sync with bounce animation */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Bounce Animation for the Circle */
.animate-bounce-check {
  animation: bounce 0.4s ease forwards;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Failure Icon Animation */
.failure-icon {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw-fail 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes draw-fail {
  to {
    stroke-dashoffset: 0;
  }
}

/* Bounce Animation for the Circle */
.animate-bounce-check {
  animation: bounce 0.4s ease forwards;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay-enter {
  animation: fadeIn 0.5s forwards;
}

.overlay-exit {
  animation: fadeOut 0.5s forwards;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 0.15s ease-in-out;
}

div {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}
